<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-card>
   
    <img class="displayed"  height="250 px" width="400 px" src="./assets/dead-bat.png">
    <ion-card-header>
      <ion-card-title><a href="https://github.com/r4mz3r0" target="_blank">Battery Hacks</a></ion-card-title>
      <ion-card-subtitle>
        <ion-chip>
          <ion-icon name="checkmark" color="primary"></ion-icon> 
          <ion-label>Completed
          </ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Project Management</ion-label>
        </ion-chip>
       
        <ion-chip>
          <ion-label>LaTex</ion-label>
        </ion-chip>
      </ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <p><b>BatteryHacks</b> was part of University of California, Merced's very first Tech Convention v0.</p>
      <p>Designed and built battery packs using cylindrical 18650 lithium ion batteries.
         Skills include but arenot limited to understand basic circuitry, soldering, using a multi-meter and battery safety. 
        Professional skills include communication, collaboration, and listening</p>
      <ul> 
        <li>Total Funding: $2,400</li>
        <li>Coordinated events attended by 10 students</li>
      </ul>
     </ion-card-content>
  </ion-card>



  <ion-card>
    <img class="displayed"  height="250 px" width="400 px" src="./assets/kidsDay.jpg">
    <ion-card-header>
      <ion-card-title><a href="google.com" target="__blank">Kid's Day In Tech</a></ion-card-title>
      <ion-card-subtitle>
        <ion-chip>
          <ion-icon name="checkmark" color="primary"></ion-icon> 
          <ion-label>Completed
          </ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Project Management</ion-label>
        </ion-chip>
       
        <ion-chip>
          <ion-label>Coordinating</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Leadership</ion-label>
        </ion-chip>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><b>BatteryHacks</b> was part of University of California, Merced's very first Tech Convention v0.</p>
      <p>Able to design and build batterypacks using cylindrical 18650L ithium Ion batteries.
         Skills include but arenot limited to understand basic circuitry, soldering, using a multi-meter and battery safety. 
        Professional skills include communication, collaboration, and listening</p>
      <ul> 
        <li>Total Funding: $5,800</li>
        <li>Led a a team 8</li>
        <li>Coordinated events attended by a total of 100+ kid's and parents</li>
      </ul>
     </ion-card-content>
  </ion-card>
  
  <ion-card>
   
    <img class="displayed"  height="250 px" width="400 px" src="./assets/dead-bat.png">
    <ion-card-header>
      <ion-card-title><a href="https://github.com/r4mz3r0" target="_blank">Computer Science: Problem Based Learning</a></ion-card-title>
      <ion-card-subtitle>
        <ion-chip>
          <ion-icon name="checkmark" color="primary"></ion-icon> 
          <ion-label>Completed (Version 0)
          </ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Computer Science Education</ion-label>
        </ion-chip>
       
        <ion-chip>
          <ion-label>Teaching</ion-label>
        </ion-chip>
      </ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <p><b>Computer Science: Problem Based Learning</b> is a book written using LaTex typesetting system</p>
      <p>A compilation of Computer Science notes, study guides, projects, and problemss I solved while pursuing a degree in Computer Science and engineering. The topics include Algorithm Design, Coding Assesments, Operating Systems, Computer Architecture, Computer Vision, Database Systems, and Object Oriented Programming. </p>
      <ul> 
        <li>Total Impact: Study guides used by various Computer Science students</li>
        <li>Formed various study groups</li>
        <li>Awarded a degree in Computer Science and Engineering Class of 2020</li>
      </ul>
     </ion-card-content>
  </ion-card>
  
  <ion-card>
   
    <img class="displayed"  height="250 px" width="400 px" src="./assets/dead-bat.png">
    <ion-card-header>
      <ion-card-title><a href="https://github.com/r4mz3r0" target="_blank">CompTIA A+ Bible</a></ion-card-title>
      <ion-card-subtitle>
        <ion-chip>
          <ion-icon name="checkmark" color="primary"></ion-icon> 
          <ion-label>Completed (Version 0)
          </ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Technician Skills</ion-label>
        </ion-chip>
       
        <ion-chip>
          <ion-label>Teaching</ion-label>
        </ion-chip>
      </ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <p><b>CompTIA A+ Bible</b> is a book written using LaTex typesetting system</p>
      <p>A compilation of 100+ notes, problems, solutions in preparation for the CompTIA A+ certification </p>
      <ul> 
        <li>Result: Certified A+ Technician <li>
      </ul>
     </ion-card-content>
  </ion-card>





</ion-content>
