<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resume
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button target="_blank" href="https://github.com/r4mz3r0" color="light">
        <ion-icon  name="logo-github"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div class="wrapper clearfix">
    <div class="left">
        
        <div class="name-hero">
          
          <div class="me-img"></div>
          
          <div class="name-text">
            
            <h1>Ramiro <em>Gonzalez</em></h1>
            <p>Merced, CA 95341</p>
            <p>ramirogonzalez@linux.com</p> 
            <p>(209) 261-0645</p>
         
          </div>
       
        </div>
        
      </div>
     <div class="right">
        
        <div class="inner">
          <section>
            <h1>Education</h1>
            <p>August 2019 - May 2020 <em>University of California, Merced</em></p>
            <p><em>B.S Computing Science and Engineering, Political Science Minor</em></p>
            <p> <em>Revelant Courses: </em>Algorith Design & Analysis, Computer Vision, Computer Architecture, Databases Systems, Operating Systems</p>
          </section>
          <section>
            <h1>Experience</h1>
            <h2>Amazon.com</h2>
            <p>April 2021 - Present</p>
            <h3>Amazon Games Software QA Tech</h3>
            <p>Current Project: New World</p>
            <h3>Amazon Robotics Coordinator</h3>
            <p>November 2020 - April 2021</p>
            <h3>Interim Information Technology (I.T.) Coordinator</h3>
          </section>
          <section>
            <h1>Technical Skills</h1>
            <ul class="skill-set">
              <li>Ionic Angular </li>
              <li>Linux, Apache, PHP, MySQL</li>
              <li>Virtualization</li>
              <li>Software Testing</li>
              <li>Python</li> <li>C++ Programming</li>
              <li>Java Programming</li> <li>LaTex</li>
              
            </ul>
          </section>
        </div>
        
      </div>
      
      
      
    </div>

</ion-content>